
*.o
*.yml
tools/spycon/.renku/refs/datasets/
tools/spycon/data/

tools/spycon/.renku/refs/.DS_Store
tools/spycon/.DS_Store
tools/spycon/.dockerignore
.DS_Store
tools/spycon/src/idtxl/test/data/
*.ini
*.pyc
*.pyc
*.pyc
simulations/__pycache__/simAdExV2.cpython-39.pyc
simulations/__pycache__/simAdExV2.cpython-39.pyc
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
*.bak
