
*.o
*.yml
tools/spycon/.renku/refs/datasets/
tools/spycon/data/

tools/spycon/.renku/refs/.DS_Store
tools/spycon/.DS_Store
tools/spycon/.dockerignore
.DS_Store
tools/spycon/src/idtxl/test/data/
*.ini
*.pyc
*.pyc
*.pyc
simulations/__pycache__/simAdExV2.cpython-39.pyc
simulations/__pycache__/simAdExV2.cpython-39.pyc
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
*.bak
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/confInfV2_TH_week08-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
*.npy
tools/spycon/src/__pycache__/sci_sccg.cpython-39.pyc
tools/spycon/notebooks/.ipynb_checkpoints/Methods_Viz-checkpoint.ipynb
conInf/.ipynb_checkpoints/partially_hollow_gauss_kernel_EXPLORE-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/confInfV2_TH_week12-checkpoint.ipynb
conInf/.ipynb_checkpoints/confInfV2_TH_week11-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/Untitled-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
tools/spycon/src/__pycache__/sci_sccg.cpython-39.pyc
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
tools/spycon/src/__pycache__/sci_sccg.cpython-39.pyc
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
randNotes.txt
randNotes.md
tools/spycon/src/__pycache__/sci_sccg.cpython-39.pyc
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
tools/spycon/src/__pycache__/sci_sccg.cpython-39.pyc
tools/spycon/src/__pycache__/sci_sccg.cpython-39.pyc
conInf/.ipynb_checkpoints/conInf_V2_week07-checkpoint.ipynb
*.pkl
*.gpickle
